[Desktop Entry]
Name=Startup Manager
Name[zh_CN]=开机自动启管理
Exec=sysbro-startup-apps
Icon=sysbro-startup-apps
Type=Application
Terminal=false
Encoding=UTF-8
Categories=Utility;
NoDisplay=true
