[Desktop Entry]
Name=Network Speed Test
Name[zh_CN]=网络测速器
Exec=sysbro-network-test     
Icon=sysbro-network-test
Type=Application
Terminal=false
Encoding=UTF-8
Categories=Utility;
NoDisplay=true
