[Desktop Entry]
Name=GXDE System Assistant
Name[zh_CN]=GXDE 系统助手
Exec=gxde-system-assistant
Comment=A GXDE assistant
Icon=sysbro
Type=Application
Terminal=false
Encoding=UTF-8
Categories=Utility;
