[Desktop Entry]
Name=GXDE Sysbro
Name[zh_CN]=极星系统助手
Exec=gxde-system-assistant
Comment=A GXDE assistant
Icon=sysbro
Type=Application
Terminal=false
Encoding=UTF-8
Categories=Utility;
