[Desktop Entry]
Categories=Application;System;Settings
Comment=Deepin Desktop Environment Control Center
Encoding=UTF-8
Exec=dde-control-center -s
Icon=preferences-system
Name=Open Control Center
Name[zh_CN]=打开控制中心
StartupNotify=false
Terminal=false
Type=Application
TryExec=dde-control-center
X-MultipleArgs=false