[Desktop Entry]
Categories=AudioVideo;Recorder;
Keywords=screen;capture;recorder;screenshot;deepin;dde;
Comment=Record screen
Exec=deepin-screen-recorder %F
GenericName=Screen Capture
Icon=deepin-screen-recorder
Name=Screen Recorder
Name[zh_CN]=截图录屏
TryExec=deepin-screen-recorder
Type=Application
X-Deepin-ManualID=deepin-screen-recorder
X-Deepin-Vendor=deepin
X-Deepin-TurboType=dtkwidget
NotShowIn=DeepinTablet

