[Desktop Entry]
Encoding=UTF-8
Type=Application
Categories=System;
Exec=gxde-app-upgrader
Icon=system-updated
Name=Upgrade GXDE
Name[zh_CN]=更新系统
Keywords=appstore;
Terminal=false
StartupNotify=true
TryExec=gxde-app-upgrader
MimeType=x-scheme-handler/spk
