[Desktop Entry]
Categories=Utility;System;
Comment=A tool to make boot disk for GXDE OS
Exec=gxde-boot-maker
GenericName=Boot Maker
Icon=gxde-boot-maker
Name=Create Bootable USB
StartupNotify=true
Terminal=false
Type=Application
Version=1.0
X-GXDE-Vendor=deepin
TryExec=gxde-boot-maker

Name[zh_CN]=制作启动盘

