Source: gxde-system-assistant
Section: utils
Priority: optional
Maintainer: Rekols <rekols@foxmail.com>
Build-Depends: debhelper (>= 9), cmake, pkg-config, libqt5widgets5, libdtkcore-dev | libdtkcore2-dev, libdtkwidget2-dev, qt5-default | qtchooser, qttools5-dev-tools, libqt5xdg-dev
Standards-Version: 3.9.8
Homepage: https://gitee.com/GXDE-OS/gxde-system-assistant

Package: gxde-system-assistant
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: gxde-timer,deepin-clone
Description: Sysbro is a system assistant for GXDE.
