Source: gxde-system-assistant
Section: utils
Priority: optional
Maintainer: Rekols <rekols@foxmail.com>
Build-Depends: debhelper (>= 9), pkg-config, libqt5widgets5, libdtkcore2-dev, libdtkwidget2-dev, qt5-default | qtchooser, qttools5-dev-tools, libsensors4-dev, libpci-dev
Standards-Version: 3.9.8
Homepage: http://www.deepin.org

Package: gxde-system-assistant
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A system assistant for GXDE
