Source: gxde-system-assistant
Section: utils
Priority: optional
Maintainer: Rekols <rekols@foxmail.com>
Build-Depends: debhelper (>= 9),
 cmake,
 pkg-config,
 qt6-base-dev,
 qt6-base-dev-tools,
 qt6-tools-dev,
 qt6-tools-dev-tools,
 qt6-l10n-tools,
 qt6-charts-dev,
 libqt6xdg-dev,
 libdtk6core-dev,
 libdtk2widget6-dev
Standards-Version: 3.9.8
Homepage: https://gitee.com/GXDE-OS/gxde-system-assistant

Package: gxde-system-assistant
Architecture: any
Conflicts: sysbro
Replaces: sysbro
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: 
 gxde-timer,
 deepin-clone,
 gxde-kernel-manager,
 gxde-easteregg-sparkle,
 gxde-autotrash,
Description: Sysbro is a system assistant for GXDE.
